@font-face {
   font-family: Roya;
   src: url(./assets/fonts/B\ Roya.ttf);
 }
 @font-face {
   font-family: Mj;
   src: url(./assets/fonts/Mj\ flow.ttf);
 }
 @font-face {
   font-family: Nasim;
   src: url(./assets/fonts/nasim.ttf);
 }
 @font-face {
   font-family: Yekan;
   src: url(./assets/fonts/Yekan.ttf);
 }
 @font-face {
   font-family: Jet;
   src: url(./assets/fonts/JetBrainsMono-VariableFont_wght.ttf);
 }